<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="cabezote">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Clubol</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown" th:if="${race}!=null">
							<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false" th:text="${race.raceName}" > <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/race/}+${race.raceName}">Tags Leidos</a></li>
								<li><a th:href="@{/raceRunner/}+${race.raceName}">Tiempos
										Corredores</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Corredores <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/runner/new">Nuevo corredor</a></li>
								<li><a href="/runners/">Ver corredores</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Utilitarios <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/category/autosave" title="Agrega categorias automaticamente">Agregar Categorias</a></li>
								<li><a href="/distance/autosave" title="Agrega distancias(chronometros) automaticamente">Agregar Distancias</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/race/new" title="Formulario para crear una carrera">Nueva Carrera</a></li>
							</ul></li>

					</ul>
					<form class="navbar-form navbar-left" id="searchTag" method="get">
						<div class="form-group">
							<input type="number" onkeyup="changeActionSubmit(this.value)"
								class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default" title="Busca el registro del corredor por el numero del tag">Ver Tag</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<div th:if="${message} !=null">
			<div class="alert alert-success" role="alert" th:text="${message}">...</div>
		</div>
		<div th:if="${error} !=null">
			<div class="alert alert-danger" role="alert" th:text="${error}">...</div>
		</div>
		<div th:if="${alert} !=null">
			<div class="alert alert-warning" role="alert" th:text="${alert}">...</div>
		</div>

		<script>
function changeActionSubmit(value){
$("#searchTag").attr("action","/runners/tag/"+value+"");
}

var tableToExcel = (function(id) {
	  var uri = 'data:application/vnd.ms-excel;base64,'
	    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
	    , base64 = function(s) { return window.btoa(unescape(s)) }
	    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
	  return function(table, name,fileName) {
	    if (!table.nodeType) table = document.getElementById(table)
	    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
	    var a = document.createElement('a');
	    a.href=uri + base64(format(template, ctx));
	    a.download = fileName;
	    a.click();
	  }
	})()

</script>

	</div>


</body>
</html>