<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="head :: header">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="header :: cabezote"></div>
	<div class="container">


		<h1>Clubol information System</h1>

		<div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>pendiente</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Habilitar/deshabilitar corredores</td>
					</tr>
					<tr>
						<td>No quemar las categorias ni distancias</td>
					</tr>
					<tr>
						<td>Arrancar y detener cronometros guardando el timestart y
							el timeend() ademas de reiniciar y configurable los tiempos</td>
					</tr>
					<tr>
						<td>organizar tags por categorias y distancias y generos
							(teniendo en cuenta el tiempo)</td>
					</tr>
					<tr>
						<td>Buscador por tag, nombre, categoria, distancia</td>
					</tr>
					<tr>
						<td>Mostrar tag y tiempo aunque no haya corredor ligado al
							tag</td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="">
			<div class="panel panel-default" th:each=" r : ${races}">
				<div class="panel-heading">
					<a th:text="${r.raceName}" th:href="|/race/${r.raceName}|"></a>
				</div>
				<div class="panel-body">

					<button type="button" class="list-group-item"
						th:text="${r.description}"></button>
				</div>

			</div>

		</div>

		<div>
			<div id="categories" class="panel panel-default">
				<div class="panel-heading">Categorias</div>
				<div class="panel-body">
					<div class="list-group">
						<button th:each="c : ${categories}" type="button"
							class="list-group-item" th:utext="${c.name}"></button>
					</div>
				</div>
			</div>

			<div id="distancias" class="panel panel-default">
				<div class="panel-heading">Distancias</div>
				<div class="panel-body">
					<div class="list-group">
						<button th:each="d : ${distances}" type="button"
							class="list-group-item" th:utext="${d.distance}"></button>
					</div>
				</div>
			</div>
		</div>


		<a th:href="@{/race/new}" href="#">Nueva Carrera</a>
	</div>
</body>
</html>