<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="head :: header">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="header :: cabezote"></div>
	<div class="container">


		<h1>Clubol information System</h1>

		<div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>pendiente</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td>importar/exportar corredores y tiempos</td>
					</tr>
					<tr>
						<td>cambio en los nombres de las distancias</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">Carreras</div>
				<div class="panel-body">
					<a th:each=" r : ${races}" type="button"
						th:href="|/raceRunner/${r.raceName}|" class="list-group-item"
						th:utext="${r.raceName}"></a>

				</div>

			</div>

		</div>

		<div>
			<div id="categories" class="panel panel-default">
				<div class="panel-heading">Categorias</div>
				<div class="panel-body">
					<div class="list-group">
						<button th:each="c : ${categories}" type="button"
							class="list-group-item" th:utext="${c.name}"></button>
					</div>
				</div>
			</div>

			<div id="distancias" class="panel panel-default">
				<div class="panel-heading">Distancias</div>
				<div class="panel-body">
					<div class="list-group">
						<button th:each="d : ${distances}" type="button"
							onclick="cambiarNombreDistancia(this)" class="list-group-item"
							th:utext="${d.chronometerName}" th:value="${d.id}"></button>
					</div>
				</div>
			</div>
		</div>

		<script>

		function cambiarNombreDistancia(dist){
		var newName = prompt("Ingrese el nombre del chronometro");


	
			}
</script>

		<!-- 		<a th:href="@{/race/new}" href="#">Nueva Carrera</a> -->
	</div>
</body>
</html>