<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: header">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div th:replace="header :: cabezote"></div>

	<div class="container">
		<div th:if="${race}!=null" class="panel panel-default">
			<div class="panel-heading">
			<input type="hidden" th:value="${race.raceName}" id="raceName"/>
				<label  th:text="${race.raceName}" class="">Carrera</label>
				<label th:text="${race.description}">descripcion</label>
				<label id="dateRace" th:utext="${race.dateRace}">dateRace</label>
			</div>
			<div class="panel-body">
				<div th:each="cr : ${race.chronometers}" class="row">
					<div th:text="${cr.chronometerName}" class="col-md-4"></div>
					<div th:text="${cr.timeStart}" class="col-md-4"></div>
					<div th:text="${cr.timeEnd}" class="col-md-4"></div>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-condensed table-striped">
			<tr>
				<th>Chip No</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Time</th>
				<th>Genero</th>
				<th>Distancia</th>
				<th>Categoria</th>

			</tr>
			<tbody id="tableRace">
				<tr th:each=" t : ${tags}">
				
					<td th:text="${t.position}"></td>
					<td th:text="${t.firstName}"></td>
					<td th:text="${t.lastName}"></td>
					<td th:text="${t.time}"></td>
					<td th:text="${t.gender}"></td>
					<td th:text="${t.distance}"></td>
					<td th:text="${t.category}"></td>
				</tr>
			</tbody>

		</table>
	</div>

	<script>

function updateTable(){
	var raceName = $("#raceName").val()
	var url ="/race/"+raceName+"/ajax"
	$.ajax({
		url : url,
		dataType : "json",
		success:function(data){
			$("#tableRace").html("");
			$.each(data,function(i,o){
				var register = "<tr>";
				register+="<td>"+o.position+"</td>";
				register+="<td>"+o.firstName+"</td>";
				register+="<td>"+o.lastName+"</td>";
				register+="<td>"+o.time+"</td>";
				register+="<td>"+o.gender+"</td>";
				register+="<td>"+o.distance+"</td>";
				register+="<td>"+o.category+"</td>";
				register+="</tr>";
				$("#tableRace").append(register);
				})
			
       data;
			},
		error:function(){
             	console.log("menu no cargado");
             }
		})
}
setInterval(updateTable, 1000);





</script>
</body>
</html>