<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: header">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div th:replace="header :: cabezote"></div>


	<div class="container">

		<div class="row">
			<div class="col-md-8">
				<form class="form-inline">
					<input type="text" id="searchRunner" name="searchRunner"
						class="form-control"
						placeholder="Buscar por Nombre, Apellido o Documento "
						maxlength="40" th:required="required" /> <input type="button"
						class="btn btn-default" value="Buscar" onclick="search()" />
				</form>
			</div>
		</div>

<br/>

		<table id="tableRunners" class="table table-bordered table-responsive">

			<thead>
				<tr>
					<th>Chip id</th>
					<th>Documento</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Edad</th>
					<th>Email</th>
					<th>Telefono</th>

					<!-- 		datos de categoria -->
					<th>Distancia</th>
					<th>Categoria</th>
					<th>Genero</th>

					<th>Activo</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="r : ${runners}" th:class="${r.active}? 'success':'warning'">
					<td th:text="${r.position}">Chip id</td>
					<td th:text="${r.document}">Documento</td>
					<td th:text="${r.firstName}">Nombres</td>
					<td th:text="${r.lastName}">Apellidos</td>
					<td th:text="${r.age}">Edad</td>
					<td th:text="${r.email}">Email</td>
					<td th:text="${r.cellPhone}">Telefono</td>

					<!-- 		datos de categoria -->
					<td th:text="${r.distance}">Distancia</td>
					<td th:text="${r.category}">Categoria</td>
					<td th:text="${r.gender}">Genero</td>

					<td><button th:value="${r.active}"  ></button></td>
					<td></td>
				</tr>
			</tbody>

		</table>

	</div>
	<script>
		function search() {
			var key = $("#searchRunner").val();
			if (key != "") {
				window.location.href = "/runners/" + key;
			}

		}
	</script>




</body>
</html>